.navbar1{
    text-decoration: none;
    color: #ffffff;
    margin-right: 40px;
    font-weight: bold;
    font-size: 20px;
}
.navbar1:hover{
    color: #ff4562;
}
.main{
    text-align: left;
    background-color: #000000;
    padding: 20px;
}